body,h1,h2,h3,h4,h5,h6,ul,li,a,span{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
ol,ul{list-style:none}
li{list-style:none;}
img{border:0;border:0 none;}
body{font:12px/1 "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
.clearfix:after{display: block; content: "\20"; height: 0; clear: both; overflow: hidden; visibility: hidden;}/*ie8以上*/
.clearfix{*zoom:1;}/*ie6、7*/
html,body{width:100%; height:100%;}
html{overflow:hidden;}
body{overflow:auto;background: #4c5666}

/*breadcrumn*/
.wordscroll{
     -webkit-transition:left 2s ease .1s;
    transition:left 2s ease .1s;
}

.npr-box{
    width: 320px;
    margin: 10px auto;
}
.npr-header{
    height: 65px;
    background:-webkit-linear-gradient(top,#f2f2f3,#e7e8e9,#dddfe1);
    background:-linear-gradient(top,#f2f2f3,#e7e8e9,#dddfe1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.npr-menu{
    display: block;
    width: 21px;
    height: 9px;
    border-top:3px solid #9ea3a5;
    border-bottom:3px solid #9ea3a5;
    position: absolute;
    left: 12px;
    top:16px;
}
.npr-menu:after{
    content: '';
    display: block;
    width: 21px;
    height: 3px;
    font-size: 0;
    margin-top: 3px;
    background: #9ea3a5;
    cursor: pointer;
}
.npr-menu:active{
    border-color:#df6461;
}
.npr-menu:active:after{
    background: #df6461;
}
.npr-share{
    display: block;
    width: 12px;
    height: 12px;
    border:3px solid #9ea3a5;
    position: absolute;
    right: 12px;
    top:16px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    border-right: none;
    border-top:none;
}
.npr-share:before{
    display: block;
    content: '';
     width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #9ea3a5;
    position: absolute;
    left:-5px;
    bottom: -5px;
    box-shadow:0px -15px #9EA3A5,15px 0px #9EA3A5;
}
.npr-share:active{
    border-color:#df6461;
}
.npr-share:active:before{
    background: #df6461;
    box-shadow: 0px -15px #df6461,15px 0px #df6461;
}

.npr-title{
    width: 240px;
    margin: 0 auto;
    padding-top: 16px;
    text-align: center;
    color:#878c8f;
    overflow: hidden;
}
.npr-title h2{
    font-size: 18px;
    white-space: nowrap;
}



.npr-list{
    background: #2c3e50;
    height: 400px;
    overflow-y: scroll;
    position: relative;

}
/*scrollbar*/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #2c3e50;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #95a5a6;
}


.npr-list li{
    background: black;
    height: 40px;

    color:#7e868e;
}
.pro-progress{
    width:0%;
    height: 39px;
    background: #2c3e50;
    border-bottom: 1px solid #ec5b62;
}
.pro-info{
    background: #2c3e50;
    height: 39px;
    margin-top: -40px;
}
.pro-title{
    width: 250px;
    overflow: hidden;
    height: 39px;
    line-height: 39px;
    float: left;
    margin-left: 10px;
    position: relative;
}
.pro-name{
    white-space:nowrap;
    position: absolute;
}
.pro-duration{
    float:left;
    height: 39px;
    padding: 0 0 0 10px;
    line-height: 39px;
    text-align: center;
    position: relative;

}
.npr-ctrl{
    height: 93px;
    background:-webkit-linear-gradient(top,#f2f3f3,#e7e9ea,#dddfe1);
    background:-linear-gradient(top,#f2f3f3,#e7e9ea,#dddfe1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 12px;
}
.player-ctrl,player-progress{
    margin:0 12px;
    height: 23px;
}
.player-loop{
    width: 20px;
    height: 100%;
    background: url("player_ctrl.png") left -18px no-repeat;
    display: block;
    float:left;
}
.player-loop-on{
    background-position: left 4px;
}

.player-shuffle{
    width: 22px;
    height: 100%;
    background: url("player_ctrl.png") left -46px no-repeat;
    display: block;
    float:right;
}
.player-shuffle:active{
    background-position: left -71px;
}

.player-play{
    width: 110px;
    margin:0 auto;
}
.player-btn{
    width: 18px;
    height: 23px;
    background: url("player_ctrl.png") left -149px no-repeat;
    margin:0 auto;
    display: block;
}
.stop-btn{
    background-position: left -119px;
}
.player-rewind{
    width: 25px;
    height: 23px;
    background: url("player_ctrl.png") left -95px no-repeat;
    display: block;
    float:left;
}
.player-forward{
    width: 25px;
    height: 23px;
    background: url("player_ctrl.png") left -175px no-repeat;
    display: block;
    float:right;
}

.player-progress{
    padding-top: 35px;
    margin:0 12px;
}
.player-timeL{
    float:left;
}
.player-timeR{
    float:right;
}
.player-pregressbar{
    width:206px;
    height:8px;
    margin:0 auto;
    background: #a2a7aa;
    border-radius: 8px;

}
.player-pregresshandle{
    position: relative;
    height:8px;
    width: 0%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: -webkit-linear-gradient(top,#df6461,#ed6467 50%,#d73b48);
    background: linear-gradient(top,#df6461,#ed6467 50%,#d73b48);
}
.player-pregresshandle:after{
    content: '';
    position: absolute;
    right:-5px;
    top:-2px;
    width:10px;
    height:10px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 1px 1px 0 #c4bfc0;
    cursor: pointer;
}

.npr-list .play,.npr-list .pause{
    color:white;
}